<app-page-layout>
  <div content class="dashboard">
    <div class="dashboard__sidebar">
      <app-task-info [task]="selectedTask"></app-task-info>
    </div>
    <div class="dashboard__content dashboard-content">
      <div class="dashboard-content__grid">
        <div class="dashboard-content__add dashboard-content-add">
          <svg (click)="openPopup()" class="dashboard-content-add__icon" width="60" height="60" viewBox="0 0 60 60"
               fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="30"></circle>
            <path
              d="M31.9835 28.3684H41.6691V32.5432H31.9835V43.517H27.5463V32.5432H17.8608V28.3684H27.5463V18.2296H31.9835V28.3684Z"
              fill="white"></path>
          </svg>
        </div>
        <app-task-card *ngFor="let task of tasks | async"
                       [task]="task"
                       [isSelected]="selectedTask===task"
                       (taskSelection)="selectTask($event)">
        </app-task-card>
      </div>
    </div>
  </div>
</app-page-layout>
