<app-page-layout>
  <div content class="dashboard">
    <div class="dashboard__sidebar">
    </div>
    <div class="dashboard__content dashboard-content">
      <div class="dashboard-content__grid">
        <div *ngFor="let task of tasks | async" class="dashboard-content__cell dashboard-content-cell">
          <div class="dashboard-content-cell__header-wrapper">
            <div class="dashboard-content-cell__header">
              <span class="dashboard-content-cell__title">Task #1</span>
              <span class="dashboard-content-cell__date">15.12.20 - 16.12.20</span>
            </div>
            <mat-checkbox></mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page-layout>
